#logout {
    cursor: pointer;
    color: #f63d3d;
}

#logout:hover {
    font-weight: bolder;
}

#menu {
    height: 40px;
    background-color: #F2F9FF;
}

#menu .content {
    margin-left: 15px;
    line-height: 40px;
    font-size: 15px;
    color: #000;
}

#container {
    width: 100%;
    overflow-y: hidden;
    position: relative;
    height: 503px;
}

#left {
    width: 240px;
    float: left;
    border-right: 3px #aaa solid;
    height: 100%;
}

#left .title {
    padding-left: 45px;
    height: 40px;
    background-color: #0098dd;
    line-height: 40px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.09em;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-bottom: 3px;
    position: relative;
}

#left .title:hover {
    color: #fff;
    background-color: #006fdd;
}

#left .title.selected {
    background-color: #1ee627
}

#left .title:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 4px;
    width: 32px;
    height: 32px;
    background-image: url("../images/list.png");
}

#left .content {
    margin-top: -3px;
    display: none;
}

#left .content div {
    font-size: 15px;
    border-bottom: 1px #fff solid;
    height: 40px;
    line-height: 40px;
    padding-left: 45px;
    cursor: pointer;
    background-color: #ccc;
}
#left .content div:hover {
    background-color: #eee;
}
#left .content div.selected{
    background-color: #eee;
}

#center {
    position: absolute;
    top: 0;
    left: 243px;
    height: 503px;
    overflow-x: auto;
    overflow-y: auto;
}

#innerContent{
    margin-top: 20px;
    margin-left: 50px;
    padding-bottom: 50px;
}
.btn{
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    width: 40px;
    height: 25px;
    margin: auto 0;
    line-height: 25px;
    color: #fff;
    font-weight: bolder;
    letter-spacing: 0.09em;
    border-radius: 5px;
    text-align: center;
}
.blue{
    background-color: #0098dd;
}
.blue:hover{
    background-color: #00afff;
}
.blue:active{
    background-color: #0083c3;
}
.red{
    background-color: #f63d3d;
}
.red:hover{
    background-color: #f63d3d;
}
.red:active{
    background-color: #c33232;
}

.remove, #addUser, #updateConfig{
    width: 40px;
}
#addUser, #updateConfig, #defaultConfig, .modifUser, #updateDatabase, #addEva{
    width: 70px;
}

.headline{
    padding-bottom: 9px;
    width: 600px;
    font-weight: 500;
    line-height: 1.1;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
#userManage:before {
    background-position: 0 -256px;
}

#config:before {
    background-position: 0 -224px;
}

#history:before {
    background-position: 0 -192px;
}

#shad_h {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 6px;
    background: url("../images/shad_h.png") repeat-x 0 0;
    z-index: 101;
}

#userPanel{
    width: 350px;
    height: 180px;
}
#userPanel .tip{
    font-size: 12px;
    margin-left: 15px;
}

#evalPanel{
    width: 350px;
    height: 263px;
}

.dataTable{
    margin-top: 10px;
}
.dataTable tr{
    height: 30px;
}

#modalChart{
    margin-top: 10px;
    width: 600px;
    height: 320px;
}
#queryTable{
    min-width: 950px;
    font-size: 15px;
}
#queryTable .no{
     width: 50px;
}
#queryTable .name{
    width: 80px;
}
#queryTable .xy{
    width: 160px;
}
#queryTable .time{
    width: 160px;
}
#queryTable .address{
    width: 200px;
}
#queryTable .aType, #queryTable .reason, #queryTable .desc, #queryTable .pType,#queryTable .pollu{
    width: 90px;
}