html, body, ul, li {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    overflow-x: hidden;
}

#header {
    background-color: #0098dd;
    height: 100px;
    overflow: hidden;
}

#header .icon {
    background: url("../images/icon.png") no-repeat center;
    display: inline-block;
    width: 410px;
    height: 50px;
    margin: 25px 10px;
}

#sinan {
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #0098dd;
    height: 32px;
    padding: 5px 5px 5px 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    opacity: 0;
    filter:Alpha(opacity=0);
    z-index: 1001;
}

#sinan .icon {
    position: absolute;
    top: 5px;
    left: 10px;
    display: inline-block;
    width: 32px;
    height: 32px;
}

#sinan .status {
    color: #fff;
    line-height: 32px;
    font-size: 12px;
}

.icon.loading {
    background: url("../images/loading.gif") no-repeat center;
}

.icon.success, .icon.fail {
    background-image: url("../images/sinan_icons.png");
}

.icon.success {
    background-position: -72px 0;
}

.icon.fail {
    background-position: -144px 0;
}

.icon.info {
    background-position: 0 0;
}

#sinanMask {
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.panel {
    position: absolute;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 0 10px #888888;
    overflow: hidden;
    display: none;
}

.panel .mini, .panel .close {
    position: absolute;
    width: 30px;
    height: 30px;
    display: inline-block;
    top: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: url("../images/btn.png");
}

.panel .mini {
    right: 30px;
    background-position: 0 0;
}

.panel .mini:hover {
    background-color: #00afff;
}

.panel .mini:active {
    background-color: #0083c3
}

.panel .close {
    right: 0;
    background-position: 0 -30px;
}

.panel .close:hover {
    background-color: #f63d3d;
}

.panel .close:active {
    background-color: #c33232;
}

.panel .title {
    width: 100%;
    height: 40px;
    background-color: #0098dd;
    line-height: 40px;
    color: #fff;
    text-indent: 1em;
}

.panel .content {
    width: 100%;
    background-color: #fff;
}

.inputTable {
    margin: 15px auto 25px;
}

.inputTable tr {
    height: 25px;
}

.inputTable .info {
    font-size: 12px;
    color: #FF0000;
    height: 12px;
    visibility: hidden;
}

.inputTable tr:last-child td {
    text-align: right;
    padding-top: 5px;
}

.inputTable a {
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: #0098dd;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.inputTable a:hover {
    background-color: #00afff;
}

.inputTable a:active {
    background-color: #0083c3
}

#mask {
    background-color: #000;
    opacity: 0.5;
    filter:Alpha(opacity=50);
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
}

.manageTable {
    min-width: 600px;
    border: 1px solid #ddd;
    border-collapse: collapse;
    text-align: center;
    margin-top: 10px;
}
.manageTable tr{
    height: 38px;
}
.manageTable tr:nth-child(even){
    background-color: #F9F9F9;
}
.manageTable td, .manageTable th{
    line-height: 38px;
    border: 1px solid #ddd;
}
.manageTable th, .manageTable tr:last-child{
    border-radius: 4px;
}

