<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>ImageSorting</display-name>
	<welcome-file-list>
		<welcome-file>uploadImageTest.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</context-param>
	<filter>
		<display-name>EncodingFilter</display-name>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.geowind.is.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>PictureServlet</servlet-name>
		<servlet-class>com.geowind.is.servlet.PictureServlet</servlet-class>

		<!-- 设置初始化参数 -->
		<init-param>
			<param-name>uploadPath</param-name>
			<param-value>../uploads</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>

	</servlet>

	<servlet-mapping>
		<servlet-name>PictureServlet</servlet-name>
		<url-pattern>/pictureServlet</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>VolunteerServlet</servlet-name>
		<servlet-class>com.geowind.is.servlet.VolunteerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>VolunteerServlet</servlet-name>
		<url-pattern>/volunteerServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>InterestServlet</servlet-name>
		<servlet-class>com.geowind.is.servlet.InterestServlet</servlet-class>
		<init-param>
			<param-name>indexPath</param-name>
			<param-value>../index</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>InterestServlet</servlet-name>
		<url-pattern>/interestServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>IndexerServlet</servlet-name>
		<servlet-class>com.geowind.is.servlet.IndexerServlet</servlet-class>
		<init-param>
			<param-name>savePath</param-name>
			<param-value>../uploads</param-value>
		</init-param>

		<init-param>
			<param-name>indexPath</param-name>
			<param-value>../index</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>IndexerServlet</servlet-name>
		<url-pattern>/indexerServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>NoAdaptorLabelServlet</servlet-name>
		<servlet-class>com.geowind.is.servlet.NoAdaptorLabelServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>NoAdaptorLabelServlet</servlet-name>
		<url-pattern>/noAdaptorLabelServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.geowind.is.servlet.InitServlet</servlet-class>

		<init-param>
			<param-name>uploadPath</param-name>
			<param-value>../uploads</param-value>
		</init-param>


		<load-on-startup>0</load-on-startup>
	</servlet>
</web-app>